logs/
__pycache__/
*.pyc
*.jpg
*.png
data_archive/*.zip
data_archive/**/*.zip
outputs/stash/
*.pth
*.tar
*.gz
*.json
*.ini
*.rar
*.fls
*.flv
*.aux
*.log
*.out
*.fdb_latexmk
*.pdf
tempCodeRunnerFile.py
outputs\eval_results\evaluation_metrics.csv